:root{
    --color-scroll-track: #2a2e33;


    --color-theme-toggle-bg: transparent;
    --color-section-1: #191a1b;
    --color-section-2: #2a2e33;
    --color-accent-1: #7789c9;

    --color-typing-1: #23c3d5;


    --color-typing-4: #23c3d5;
    --color-title: #ebeefa;
    --color-p-text: #9ca0a5;
    --color-btn-text: #ebeefa;




    --color-carousel-bg: #1b1c1f;

    --color-carousel-hover: #e5b843;
}